<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correo Electrónico</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body style="font-family: Arial, sans-serif; background-color: #eaf4ff;">

    <table cellpadding="0" cellspacing="0" width="100%" bgcolor="#eaf4ff">
        <tr>
            <td align="center" style="padding: 50px 0;">
                <table cellpadding="0" cellspacing="0" width="600" style="border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                    <tr>
                        <td style="padding: 40px; background-color: white; border: 4px solid #4b86f3; border-radius: 8px;">
                            <div style="margin-top: 0; text-align: center;">
                                <h3><i class="fa fa-unlock fa-4x" style="color: #007bff;"></i></h3>
                            </div>
                            <br />
                            <h2 style="margin-top: 0; text-align: center;">Recuperar Contraseña</h2>
                            <p style="text-align: center;">Haz clic en el siguiente botón para restablecer tu contraseña.</p>
                            <p style="text-align: center;">
                                <!-- Agrega el icono antes del texto del botón -->
                                <a href="http://localhost:60964/Login/ResetPassword?email={Correo}" style="background-color: #004d99; color: #fff; padding: 10px 20px; text-decoration: none; border-radius: 50px; display: inline-block; transition: background-color 0.3s ease;">
                                    <i class="fas fa-key" style="margin-right: 10px;"></i> Restablecer Contraseña
                                </a>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</body>
</html>


