@model ML.Usuario
@{
    ViewBag.Title = "ResetPassword";
    Layout = null;

}


<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f2f2f2;
        }

        .form-container {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        .error-message {
            color: red;
            margin-top: 10px;
        }

        .success-message {
            color: green;
            margin-top: 10px;
        }
    </style>
</head>
<body>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-container">

                    <h2 class="text-center mb-4">Reset Password</h2>

                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        <div class="error-message">
                            @ViewBag.ErrorMessage
                        </div>
                    }

                    @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
                    {
                        <div class="success-message">
                            @ViewBag.SuccessMessage
                        </div>
                    }

                <form action="@Url.Action("ResetPassword", "Login")" method="post">
                    @Html.HiddenFor(model => model.Email)
                    <div class="form-group">
                        <label for="password">New Password:</label>
                        <input type="password" name="password" id="password" class="form-control" required placeholder="Escriba la contraseña" onkeyup="validarPassword()">
                        <span id="password-message" class="message"></span>
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirm Password:</label>
                        <input type="password" name="confirm_password" id="confirm_password" class="form-control" required placeholder="Confirmar contraseña" onkeyup="validarConfirmacion()">
                        <span id="confirm-password-message" class="message"></span>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">Restablecer</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>



<script>
    function validarPassword() {
        var password = document.getElementById("password").value;
        var passwordMessage = document.getElementById("password-message");

        if (password.length < 8 || !/\d/.test(password)) {
            passwordMessage.textContent = "La contraseña debe contener al menos 8 caracteres y un número";
            passwordMessage.style.color = "red";
        } else {
            passwordMessage.textContent = "Contraseña válida";
            passwordMessage.style.color = "green";
        }
    }

    function validarConfirmacion() {
        var password = document.getElementById("password").value;
        var confirm_password = document.getElementById("confirm_password").value;
        var confirmMessage = document.getElementById("confirm-password-message");

        if (password !== confirm_password) {
            confirmMessage.textContent = "Las contraseñas no coinciden";
            confirmMessage.style.color = "red";
        } else {
            confirmMessage.textContent = "Las contraseñas coinciden";
            confirmMessage.style.color = "green";
        }
    }




</script>





